<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Mozg. All rights reserved.
 * See LICENSE.txt for license details.
 */
 -->
<config>
    <modules>
        <Mozg_Jadlog>
            <version>1.0.0</version>
        </Mozg_Jadlog>
    </modules>
    <global>
        <models>
            <mozg_jadlog>
                <class>Mozg_Jadlog_Model</class>
                <resourceModel>mozg_jadlog_resource</resourceModel>
            </mozg_jadlog>
            <mozg_jadlog_resource>
                <class>Mozg_Jadlog_Model_Resource</class>
            </mozg_jadlog_resource>
        </models>
        <helpers>
            <mozg_jadlog>
                <class>Mozg_Jadlog_Helper</class>
            </mozg_jadlog>
        </helpers>
        <blocks>
            <mozg_jadlog>
                <class>Mozg_Jadlog_Block</class>
            </mozg_jadlog>
        </blocks>
        <resources>
            <mozg_jadlog_setup>
                <setup>
                    <module>Mozg_Jadlog</module>
                    <class>Mozg_Jadlog_Model_Resource_Setup</class>
                </setup>
            </mozg_jadlog_setup>
        </resources>
        <template>
        </template>
        <events>
        </events>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Mozg_Jadlog after="Mage_Adminhtml">Mozg_Jadlog_Adminhtml</Mozg_Jadlog>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <Mozg_Jadlog>
                    <files>
                        <default>Mozg_Jadlog.csv</default>
                    </files>
                </Mozg_Jadlog>
            </modules>
        </translate>
        <events>
        </events>
        <layout>
            <updates>
                <mozg_jadlog>
                    <file>mozg_jadlog.xml</file>
                </mozg_jadlog>
            </updates>
        </layout>
    </adminhtml>    
    <frontend>
        <layout>
            <updates>
                <mozg_jadlog>
                    <file>mozg_jadlog.xml</file>
                </mozg_jadlog>
            </updates>
        </layout>
        <routers>
            <mozg_jadlog>
                <use>standard</use>
                <args>
                    <module>Mozg_Jadlog</module>
                    <frontName>mozg_jadlog</frontName>
                </args>
            </mozg_jadlog>
        </routers>
        <events>
        </events>
        <translate>
            <modules>
                <Mozg_Jadlog>
                    <files>
                        <default>Mozg_Jadlog.csv</default>
                    </files>
                </Mozg_Jadlog>
            </modules>
        </translate>
    </frontend>
    <default>
        <carriers>
            <mozg_jadlog>
                <!-- BASE -->
                <model>Mozg_Jadlog_Model_Carrier</model>
                <active>0</active>
                <sort_order>830</sort_order>
                <title>Jadlog (powered by MOZG)</title>
                <allowed_methods>0,3,4,5,6,7,9,10,12,14</allowed_methods>
                <free_method></free_method>
                <!--<max_package_weight>600</max_package_weight>-->
                <handling_type>F</handling_type>
                <!--<handling_action>O</handling_action>-->
                <handling_fee>0</handling_fee>
                <showmethod>1</showmethod>
                <debug>1</debug>
                <sallowspecific>1</sallowspecific>
                <specificcountry>BR</specificcountry>
                <!-- DEFAULT -->
                <product_attribute_width>ship_width</product_attribute_width>
                <product_attribute_length>ship_length</product_attribute_length>
                <product_attribute_height>ship_height</product_attribute_height>
                <unit_of_measure>KGS</unit_of_measure>
                <display_result_error>1</display_result_error>
                <!-- DEFAULT -->
                <tipo_seguro>N</tipo_seguro>
                <frete_apagar_destino>N</frete_apagar_destino>
                <tipo_entrega>D</tipo_entrega>
                <valor_coleta>10,00</valor_coleta>    
                <remetente_cnpj>17977285000118</remetente_cnpj><!-- https://github.com/falexandre/otherClasses/blob/master/Jadlog.class.php -->
                <senha_admin>C2o0E1m3</senha_admin>            
            </mozg_jadlog>
        </carriers>
    </default>
    <phpunit>
        <suite>
            <modules>
                <Mozg_Jadlog/>
            </modules>
        </suite>
    </phpunit>
</config>